html
    head
        title WEB 2 PART 2: SECURITY
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Drugi projekt: Sigurnost
        button(onclick='window.location.href="/xss"') XSS
        button(onclick='window.location.href="/xss/reset"') Reset XSS
        br
        button(onclick='window.location.href="/sde"') SDE
        button(onclick='window.location.href="/sde/reset"') Reset SDE
        hr