html
    head
        title WEB 2 PART 2: XSS
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/') Povratak
        h1 Cross-site scripting
        p Upute: Upišite JavaScript kod u polje ispod i kliknite na gumb "Pošalji". 
        p Ako je označena opcija "Ranjivost" te ako je kod ispravan, biti će pohranjen u bazi i aktivirat će se pri ocrtavanju na stranici. 
        p Ako kod nije ispravan ili ako opcija "Ranjivost" nije označena, biti će prikazan kao običan tekst.
        p Pokušajte upisati: &lt;script&gt;alert('hello')&lt;/script&gt; i vidjeti što će se desiti
        form(action='/xss', method='POST')
            input(type='checkbox', name='vulnerable', value='true')
            el Ranjivost?
            br
            p "Komentar":
            textarea(name='comment', rows='10', cols='80')
            br
            input(type='submit', value='Pošalji')
        hr
        h2 "Komentari"
        ul
            each com in comments
                li!= com.comment
                hr
        hr
